head {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    border: white;
    
}


body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: white;
    nav-down: auto;
    
}

